<nav class="maincontainer">
    <button type="button" class="btn btn-info" style="height:100%;width:5%;position: relative;display:inline-block;" (click)="goBack()">
      <i class="fa fa-arrow-left" aria-hidden="true"> </i>
    </button>

    <label class="btn btn-info disabled" *ngIf="game"
    style="width:100%; display:table-cell;float:left; margin: 0% 1% 0% 1%;">{{game.GameId}}. {{game.Name}}</label>

    <button type="button" class="btn btn-info" style="height:100%;width:5%;position: relative;display:inline-block;" (click)="save()">
      <i class="fa fa-save" aria-hidden="true"> </i>
    </button>
</nav>

<div class="maincontainer">
  <div class="detail-panel container-fluid" *ngIf="game">


    <div class="row" style="margin-bottom:3%">
        <div class="col-md-7">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8" style="text-align:left"><h5>Algemene details:</h5></div>
        </div>
      </div>
      <div class="col-md-5" style="text-align:left"><h5>Categoriëen:</h5></div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <div class="container-fluid" style="text-align:right;">

          <div class="row" style="padding:1%;padding-bottom:5%;">
            <div class="col-md-4" style="display:flex;align-items: center;padding:1%;">
              <label style="margin:0%;width:100%;text-align: right;">Naam :</label>
            </div>
            <div class="col-md-8" style="display:flex;align-items: center;padding:1%;">
              <input class="form-control" [(ngModel)]="game.Name">
            </div>
          </div>
          <div class="row" style="padding:1%;padding-bottom:5%;">
            <div class="col-md-4" style="display:flex;align-items: center;padding:1%;">
              <label style="margin:0%;width:100%;text-align: right;">Uitgever :</label>
            </div>
            <div class="col-md-8" style="display:flex;align-items: center;padding:1%;">

              <div class="btn-group" dropdown style="width:100%">
                <button dropdownToggle type="button" class="btn btn-info dropdown-toggle btn-block">
                  {{game.PublisherName}}
                  <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu" style="width:100%;">
                  <div *ngFor="let pub of publishers" (click)="selectPublisher(pub)">
                    <li role="menuitem">
                      <a #publisher class="dropdown-item">{{pub.PublisherName}}</a>
                    </li>
                  </div>
                </ul>
              </div>

            </div>
          </div>

          <div class="row" style="padding:1%;padding-bottom:5%;">
            <div class="col-md-4" style="display:flex;align-items: center;padding:1%;">
              <label style="margin:0%;width:100%;text-align: right;">Spelers :</label>
            </div>
            <div class="col-md-2" style="display:flex;align-items: center;padding:1%;">
              <label style="margin:0%;width:100%;text-align: right;">Min</label>
            </div>
            <div class="col-md-2" style="display:flex;align-items: center;padding:1%;">
              <input class="form-control" [(ngModel)]="game.MinPlayers">
            </div>
            <div class="col-md-2" style="display:flex;align-items: center;padding:1%;">
              <label style="margin:0%;width:100%;text-align: right;">Max</label>
            </div>
            <div class="col-md-2" style="display:flex;align-items: center;padding:1%;">
              <input class="form-control" [(ngModel)]="game.MaxPlayers">
            </div>
          </div>


          <div class="row" style="padding:1%; padding-bottom:5%;">
            <div class="col-md-4" style="display:flex;align-items: center;padding:1%;">
              <label style="margin:0%;width:100%;text-align: right;">Rating :</label>
            </div>
            <div class="col-md-8" style="padding:1%;text-align:center">
              <rating [titles]="['1','2','3','4','5','6','7','8','9','10']" [max]="10" style="font-size: 150%;color:goldenrod;text-shadow: 1px 1px darkslateblue;-webkit-text-stroke: 1px peru;" [(ngModel)]="game.Rating" [max]="10" [readonly]="false"></rating>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-5" style="padding-left:0%;padding-right:0%">
          <div class="row" *ngFor="let tag of tags" style="padding:3% 0% 3% 0%;">
              <div class="col-md-6">
                  <p style="text-align:left;margin:0%">{{tag.Name}}</p>
              </div>
              <div class="col-md-3">
                  <input type="checkbox" checked="game[tag]" style="float:right;" [(ngModel)]="tag.Enabled" (change)="toggleTag(tag)">
              </div>
              <div class="col-md-3" style="text-align:center;padding-left:0%">
                <i class="fa fa-trash removeTag" (click)="confirmDeleteTag(template , tag)" aria-hidden="true"></i>
              </div>
          </div>
          <div class="row" style="padding:1%; padding-top:5%;">
              <div class="col-md-6">
                  <input class="btn btn-info" type="input" placeholder="Voeg tag toe..." style="float:left;margin:0%;width:100%;" [(ngModel)]="newTagName">
              </div>
              <div class="col-md-3">
                <button type="button" (click)="addTag()" class="btn btn-info" style="float:right;width:68%">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3">
              </div>
          </div>



        <!-- <ul *ngFor="let tag of tags" style="margin-bottom:5px;padding: 0% 15% 0% 0%;">
          <input type="checkbox" checked="game[tag]" style="float:right;" [(ngModel)]="tag.Enabled" (change)="toggleTag(tag)"> <p style="text-align:left;margin:0%">{{tag.Name}}</p>
          <i class="fa fa-trash" aria-hidden="true"> </i>
        </ul> -->

      </div>
  </div>
  <button type="button" class="btn btn-danger" style="height:100%;width:5%;position: relative;float:right;margin: 5% 5% 0% 1%;" (click)="goBack()">
    <i class="fa fa-trash" aria-hidden="true"> </i>
  </button>
</div>

<ng-template #template>
    <div class="modal-header text-center">
        <h4 class="modal-title" style="text-align:center;" >Tag verwijderen</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

  <div class="modal-body text-center">
    <p>Weet je het zeker?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" style="margin:5%;width:90%" >Ja</button>
    <button type="button" class="btn btn-primary" (click)="decline()" style="margin:5%;width:90%" >Nee</button>
  </div>
</ng-template>

